--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
gradio>=5.35.0,<6
numpy
opencv-python-headless
Pillow
tqdm
timm
prettytable
scipy
scikit-image
kornia
transformers
huggingface_hub>=0.30
einops
requests
rankseg
